@model IEnumerable<MultiTable.Models.DeptEmpModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ECode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ECode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ECode }) |
            @Html.ActionLink("Details", "Details", new { id=item.ECode }) |
            @Html.ActionLink("Delete", "Delete", new {id=item.ECode})
        </td>
    </tr>
}

</table>
